# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
venv/
__pycache__/
*.pyc
# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# local config
.vscode/
.idea/

# Project specific
reports/
err.txt
